@-ms-viewport{width: device-width; height: device-height;}
/*
================================================================================
PRIMARY STYLES
================================================================================*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px rgba(0, 0, 0, 0);
}


body {
    background: url(wall.png);
    min-height: 100vh;
    position: relative;
}

.row, .col {
    margin: 1%;
}

.name {
    text-align: center;
    font-weight:bold;
    font-size: 3vw;
    color: white;
    border-bottom: solid 15px;
}

.classyImage-frame{
    width: fit-content;
    height: fit-content;
    background: linear-gradient(#f0eeea, #8e8f8e);
    padding: 15px;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
}

.classyImage {
    width: 12vw;
}

.headshot-frame {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(#f0eeea, #8e8f8e);
    padding: 10px;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
    border-radius: 50%;
}

.headshot{ 
    border-radius: 50%;
    width: 14vw;
}

.aboutMe-frame {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(#f0eeea, #8e8f8e);
    padding: 20px;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
}

.aboutMe {
    width: 25vw;
    height: 70vh;
}

.skillList-container {
    background-color: white;
    border: outset 10px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: fit-content;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
}

.skillList {
    color: black;
}

.thumbnail1 {
    width: 14vw;
    border-radius: 50%;
}

.thumbnail1-frame {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(#f0eeea, #8e8f8e);
    padding: 10px;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
    border-radius: 50%;
}

.thumbnail2-frame {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(#f0eeea, #8e8f8e);
    padding: 10px;
    box-shadow: #001a08c9 0px 10px 36px 0px, #06290f7a 0px 0px 0px 15px;
}

.thumbnail2 {
    width: 14vw;
}
/*
footer {  
   background: url(wall-bottom.png) bottom repeat-x;
   position: absolute bottom;
   bottom: 0;
}

.closeNote {
   color:grey;
   text-align: center; 
} */
