@-ms-viewport{width: device-width; }
/*
================================================================================
PRIMARY STYLES
================================================================================*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #9ae69c;
}

.content{
    display: flex;
    align-items: stretch;
    margin: 5%;
}

.name{
    display: block;
    background-color:#3e8241;
    margin: 0px;
    padding: 15px;
    border: 400%;
    text-align: right;
    max-height: fit-content;
}

.aboutMe-container{
    display: flex;
    background-color: #6948a3;
    border-radius: 25px;
    padding: 10px;
    margin: 2%;
    width: 50%;

}

.headshot{
    border-radius: 100%;
    max-width: 40%;
}

.aboutMe-content{
    background-color: #ba98f5;
    border-radius: 20px; 
    padding: 5px;
    margin: 0;
    max-width: fit-content;
    max-height: fit-content;

}

.projects-container{
    display: flex;
    flex-direction: column;
    background-color: #6948a3;
    border-radius: 20px;
    margin: 2%;
    padding: 5px;
    width: 50%;
    color: white;
   /* max-width: 50%;*/
}

.projects-title {
    padding-left: 10px;
}

.projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: black;
    background-color: #ba98f5;
    border-radius: 20px;
    margin: 2%;
    padding: 5px;
    /*max-width: fit-content;*/
}

.more-container{
    display: block;
    background-color: #3e8241;
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 50px;
    max-height: fit-content;
}

.more{
    color: white;
    text-decoration: none;
}

.more:hover{
    color:#6948a3;
    background-color: #ba98f5;
    }
