@-ms-viewport{width: device-width; }
/*
================================================================================
PRIMARY STYLES
================================================================================*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
   border: solid 1px grey; */
}


body {
    background: url(wall.png);
    min-height: 100vh;
    position: relative;
}

.row, .col {
    margin: 1%;
}

.name {
    text-align: center;
    font-weight:bold;
    font-size: 3vw;
    color: white;
    border-bottom: solid 15px;
}

.classyImage {
    border: solid 20px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: 12vw;
}

.headshot{
    border: outset 10px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    border-radius:50%;
    width: 14vw;
}

.aboutMe {
    border: outset 20px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: 25vw;
    height: 70vh;
}

.skillList-container {
    background-color: white;
    border: outset 10px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: fit-content;
}

.skillList {
    color: black;
}

.thumbnail {
    border: solid 10px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: 14vw;
    border-radius: 50%;
}

.thumbnail2 {
    border: solid 20px;
    border-image: linear-gradient(#f0eeea, #8e8f8e) 30;
    width: 14vw;
}
/*
footer {  
   background: url(wall-bottom.png) bottom repeat-x;
   position: absolute bottom;
   bottom: 0;
}

.closeNote {
   color:grey;
   text-align: center; 
} */
